fastapi
uvicorn
python-docx
PyPDF2
faiss-cpu
requests
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.0
python-multipart
sentence-transformers==2.2.2
huggingface_hub==0.10.1